<h2> <%= @shoe.brand() %></h2>
<hr>

<% if @shoe.stores.any? %>
  <h3>Here are the stores currently carrying this shoe:</h3>
  <ul>
    <% @shoe.stores.each() do |franchise| %>
      <li><%= franchise.title %></li>
    <% end %>
  </ul>

<% else %>

    <p><strong>There are currently no stores with this shoe brand.</strong></p>
    <br>

<% end %>

<h2>  Prices:</h2>
<hr>

<% if @shoe.prices.any? %>
  <h3>Here are the prices for this shoe:</h3>
  <ul>
    <% @shoe.prices.each() do |cost| %>
      <li><%= cost.total.to_s.prepend("$") %></li>
    <% end %>
  </ul>

<% else %>

    <p><strong>There are currently no prices assigned to this shoe.</strong></p>
    <br>

<% end %>

<p>Add a store associated with this shoe:<p>
<form id="add_store_id" action="/shoes/<%= @shoe.id() %>/stores" method="post">
  <input type="hidden" name="shoe_name" id="shoe_name" value="<%= @shoe.id() %>">
  <label for="store_id">Select a store:  </label>
    <br>
  <select id="store_id" name="store_id">
    <option value=""></option>
    <% @stores.each() do |store| %>
      <option value="<%= store.id() %>"><%= store.title() %></option>
    <% end %>
  </select>
  <button type="submit">Submit</button>
</form>

<h3> Add a price: </h3>
<form id="add_price_id" action="/shoes/<%= @shoe.id() %>/prices" method="post">
  <input type="hidden" name="shoe_name" id="shoe_name" value="<%= @shoe.id() %>">
  <label for="price_id">Enter a price:  </label>
    <br>
  <select id="price_id" name="price_id">
    <option value="0"></option>
    <% @prices.each() do |price| %>
      <option value="<%= price.id() %>"><%= price.total() %></option>
    <% end %>
  </select>
  <button type="submit">Submit</button>
</form>
